.mb-element-search {
  font-size: 12px;
  line-height: 1.5;
  .button.btn {
    // Defeat @extend .button rules
    font-size: inherit;
    line-height: inherit;
    height: auto;
    // Remove Bootstrap .btn border-radius
    border-radius: 0;
  }
  .form-control {
    font-size: inherit;
  }

  .queries-accordion {
    .ui-accordion-header {
      user-select: none;
      border: none;
      padding: 0 0 0 1em;
      line-height: 2;
      .header-buttons .btn {
        padding: 0 0.5em;
      }
      .preloader {
        display: none;
        margin-right: 0.5em;
      }
      &:focus {
        outline: none;
      }
    }
    .ui-accordion-content {
      padding: 0;
      border: none;
    }
  }
  .query-content-panel {
    .buttons {
      white-space: nowrap;
      button {
        padding: 0 4px;
      }
    }
  }
  .mapbender-element-result-table {
    table.dataTable {
      tbody > tr {
        &.mark{
          background-color: #dcdfae !important;
        }
      }
    }
  }
}
.mb-element-search {
  .queries-accordion {
    .ui-accordion-content {
      padding: 0 0 1em 0;
      .resultQueries {
        margin: 0;
      }
    }
    > .ui-accordion-header {
      background-color: darken($buttonActiveBgColor, 7%);
      color: $buttonActiveColor;
      &.updated {
        background-color: lighten($buttonActiveBgColor, 5%);
        font-weight: bold;
      }
    }
  }
}

.mb-search-dialog {
  padding: 0;
  &.ui-widget.ui-widget-content {
    border: none;
    border-bottom: 2px solid $buttonActiveBgColor;
  }
  .ui-dialog-content {
    // Fit Bootstrap .row without horizontal overflow
    padding-left: 15px;
    padding-right: 15px;
  }
  .ui-dialog-titlebar {
    background-color: $buttonActiveBgColor;
    border: none;
    border-radius: 0;
    font-size: 14px;
    line-height: 1.5;
    .ui-dialog-title {
      color: #fff;
    }
    .ui-button {
      border: none;
      background-color: transparent;
    }
    .ui-button-icon-only {
      text-indent: 0;
      font-size: inherit;
    }
    .ui-dialog-titlebar-close {
      color: #000;
      vertical-align: initial;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
      &:before {
        content: "\f00d"; // =.fa-times
        font-family: "FontAwesome", "Font Awesome 5 Free", "Font Awesome 5 Pro";
      }
      .ui-button-icon {
        display: none;
      }
    }
  }
  .ui-tabs {
    padding: 0;
    border: none;
    .ui-tabs-nav {
      padding: 0;
      border: none;
      border-radius: 0;
      background: transparent;
      li {
        margin: 0;
        border: none;
        border-radius: 0;
        &.ui-tabs-active {
          // Undo jQueryUI default vertical motion
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
    .ui-state-active {
      background-color: $buttonActiveBgColor;
      color: $buttonActiveColor;
    }
  }
  :focus, a:focus {
    outline: none;
  }
}
