@import url("components/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css");
@import "../vendor/viscreation/vis-ui.js/src/styles/modal";
@import "../vendor/mapbender/digitizer/Mapbender/DigitizerBundle/Resources/public/sass/element/context-menu";

.mb-element-search.modal-body {
  //.form-group > button.btn {
  //  margin-left: 15px;
  //  margin-right: 15px;
  //}
  [class^="fa-"]:before, [class*=" fa-"]:before {
    font: normal normal normal 14px/1 FontAwesome;
  }

  .new-query {
    margin-bottom: 10px;
    &:before {
      font-family: FontAwesome;
      content: "\f067";
      padding-right: 3px;
    }

  }

  .mapbender-element-result-table {

    .bookmark {
      &:before {
        font-family: FontAwesome;
        content: "\f005";
        padding-right: 3px;
      }
    }
    .print {
      &:before {
        font-family: FontAwesome;
        content: "\f02f";
        padding-right: 3px;
      }
    }
    .zoomTo {
      &:before {
        font-family: FontAwesome;
        content: "\f05b";
        padding-right: 3px;
      }
    }

    table.dataTable {
      tbody > tr {
        &.mark{
          background-color: #dcdfae !important;
        }

        &.warning{
          background-color: #fcffc6;
        }
        td {
          word-break: break-all;
        }
      }
    }

    > .dataTables_wrapper {
      > .dataTables_filter > label {
        line-height: 14px;
        width: 100%;
        > input[type="search"] {
          display: block;
          width: 100%;
          margin-bottom: 8px;
          border: 1px solid #c0c0c0;
          color: #555;
          font-weight: normal;
          height: 29px;
          padding: 2px 24px 2px 7px;
          line-height: 1.42857143;
        }
      }
    }
  }

  .feature-details {
    .key {
      font-weight: bold;
      padding-right: 10px;
      white-space: nowrap;
    }
    .value {

    }
  }

  div.notifyjs-container > div.notifyjs-bootstrap-base > span {
    white-space: pre;
  }

  .queries-accordion {
    > .ui-accordion-header {
      &.updated {
        background-color: #ec1b2d;
      }
    }
  }
}

// Pop-up dialogs
.ui-dialog {
  > .search-edit {
    padding: 10px 10px 0;
  }
}
