@import url("components/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css");
@import "../vendor/mapbender/vis-ui.js/src/styles/modal";
@import "../vendor/mapbender/digitizer/Resources/public/sass/element/context-menu";

.mb-element-search.modal-body {
  //.form-group > button.btn {
  //  margin-left: 15px;
  //  margin-right: 15px;
  //}
  .ui-accordion-header .buttons {
    .fa:before {
      font-family: FontAwesome;
    }
  }

  .new-query, .new-stylemap, .new-style {
    margin-bottom: 10px;
  }

  .mapbender-element-result-table {

    .bookmark {
      &:before {
        font-family: FontAwesome;
        content: "\f005";
        padding-right: 3px;
      }
    }
    .print {
      &:before {
        font-family: FontAwesome;
        content: "\f02f";
        padding-right: 3px;
      }
    }
    .zoomTo {
      &:before {
        font-family: FontAwesome;
        content: "\f05b";
        padding-right: 3px;
      }
    }
    .visibility {
      &:before {
        font-family: FontAwesome;
        content: "\f06e";
        padding-right: 3px;
      }
    }

    table.dataTable {
      tbody > tr {
        &.mark{
          background-color: #dcdfae !important;
        }

        &.warning{
          background-color: #fcffc6;
        }
        td {
          word-break: break-all;
        }
      }
    }

    > .dataTables_wrapper {
      > .dataTables_filter > label {
        line-height: 14px;
        width: 100%;
        > input[type="search"] {
          display: block;
          width: 100%;
          margin-bottom: 8px;
          border: 1px solid #c0c0c0;
          color: #555;
          font-weight: normal;
          height: 29px;
          padding: 2px 24px 2px 7px;
          line-height: 1.42857143;
        }
      }
    }
  }

  .feature-details {
    .key {
      font-weight: bold;
      padding-right: 10px;
      white-space: nowrap;
    }
    .value {

    }
  }

  div.notifyjs-container > div.notifyjs-bootstrap-base > span {
    white-space: pre;
  }

  .queries-accordion {
    .ui-accordion-content {
      padding: 0;
      width: 100%;
    }
    > .ui-accordion-header {
      &.updated {
        background-color: #ec1b2d;
        font-weight: bold;
      }
    }

  }
}

// Pop-up dialogs
.ui-dialog {
  > .search-edit {
    padding: 10px 10px 0;
  }
}

.mb-search-dialog {
  padding: 0;
  &.ui-widget.ui-widget-content {
    border: none;
    border-bottom: 2px solid $buttonActiveBgColor;
  }
  .ui-dialog-titlebar {
    background-color: $buttonActiveBgColor;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 14px;
    line-height: 1.5;
    .ui-dialog-title {
      color: #fff;
    }
    .ui-button {
      border: none;
      background-color: transparent;
    }
    .ui-button-icon-only {
      text-indent: 0;
      font-size: inherit;
    }
    .ui-dialog-titlebar-close {
      color: #000;
      vertical-align: initial;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
      &:before {
        content: "\f00d"; // =.fa-times
        font-family: "FontAwesome", "Font Awesome 5 Free", "Font Awesome 5 Pro";
      }
      .ui-button-icon {
        display: none;
      }
    }
  }
}
