.mb-element-search.modal-body {

  .form-group > button.btn {
    margin-left: 15px;
    margin-right: 15px;
  }
  [class^="fa-"]:before, [class*=" fa-"]:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  > .mapbender-element-result-table {

    > .dataTables_wrapper {
      > .dataTables_filter > label {
        width: 100%;
        line-height: 14px;
        > input[type="search"] {
          display: block;
          width: 100%;
          margin-bottom: 8px;
          border: 1px solid #c0c0c0;
          color: #555;
          font-weight: normal;
          height: 29px;
          padding: 2px 24px 2px 7px;
          line-height: 1.42857143;
        }
      }
      tr[role='row'] > td > div.button-navigation {
        > button {
          &.fa-remove {
          }
          &:before {
            font-family: FontAwesome;
          }
        }
      }
    }
  }
}

// Pop-up dialogs
.ui-dialog {

  > .search-edit {
    padding: 10px 10px 0px;
  }

  > .searchs-results {
  }
}
