<div class="elementForm defaultForm elementFormSearch">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    HIER Accordion mit Query Results
</div>
