    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="styles[default]">Standard</label>
        <div class="input-group input-group-sm">
            <select class="form-control" name="styles[default]"></select>
            <div class="input-group-btn">
                <button class="btn -fn-edit-style" data-style-name="default" title="Editieren">Editieren</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="styles[select]">Mouseover</label>
        <div class="input-group input-group-sm">
            <select class="form-control" name="styles[select]"></select>
            <div class="input-group-btn">
                <button class="btn -fn-edit-style" data-style-name="select" title="Editieren">Editieren</button>
            </div>
        </div>
    </div>
