    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="style_default">Standard</label>
        <div class="input-group input-group-sm">
            <select class="form-control" name="style_default"></select>
            <div class="input-group-btn">
                <button class="btn -fn-edit-style" data-style-name="style_default" title="Editieren">Editieren</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="style_select">Mouseover</label>
        <div class="input-group input-group-sm">
            <select class="form-control" name="style_select"></select>
            <div class="input-group-btn">
                <button class="btn -fn-edit-style" data-style-name="style_select" title="Editieren">Editieren</button>
            </div>
        </div>
    </div>
