<div class="query-header">
    <span class="title-text"></span>
    <div class="pull-right">
        {#- eat whitespace -#}
        <i class="fa fa-fw fa-spinner fa-spin preloader"></i>
        <div class="btn-group header-buttons">
            {#- eat whitespace -#}
            <span class="-fn-edit btn button" title="Abfrage bearbeiten"><i class="fa fa-fw fas fa-edit"></i><span class="sr-only">Abfrage bearbeiten</span></span>
            {#- eat whitespace -#}
            <span class="-fn-export btn button" title="Exportieren"><i class="fa fa-fw fas fa-download"></i><span class="sr-only">Exportieren</span></span>
            {#- eat whitespace -#}
            <span class="-fn-zoomtolayer btn button" title="Heranzoomen (Nur wenn Treffer vorhanden sind.)"><i class="fa fa-fw fa-map-o"></i><span class="sr-only">Heranzoomen (Nur wenn Treffer vorhanden sind.)</span></span>
            {#- eat whitespace -#}
            <span class="-fn-visibility btn button" title="Abfrageergebnisse Anzeigen"><i class="fa fa-fw far fa-eye"></i><span class="sr-only">Abfrageergebnisse Anzeigen</span></span>
            {#- eat whitespace -#}
            <span class="-fn-delete btn button" title="Abfrage löschen"><i class="fa fa-fw fas fa-times"></i><span class="sr-only">Abfrage löschen</span></span>
            {#- eat whitespace -#}
        </div>
    </div>
    <div class="ui-helper-clearfix"></div>
</div>
<div class="query-content-panel">
    <div class="checkbox">
        <label><input type="checkbox" name="extent-only">{{ 'mb.search.onlyMapSection' | trans }}</label>
    </div>
    <div class="mapbender-element-result-table">
        <table class="table table-striped table-hover"></table>
    </div>
</div>
